@model List<Department>

<div class="pagetitle">
    <h1>Department</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Department" asp-action="Index">Department</a>
            </li>
            <li class="breadcrumb-item">Department List</li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-end mb-3">
    <a asp-controller="Department" asp-action="DepartmentAddEdit"
       class="btn btn-primary">
        Add Department
    </a>
</div>

<div class="card">
    <div class="card-body">

        <div class="text-center">
            <h5 class="card-title">Department Table</h5>
            <p>All The Record of The <code>Department </code></p>
        </div>

        <div class="container col-sm-3 d-flex justify-content-end">
            <input class="form-control" id="myInput" type="text" placeholder="Search here">
        </div>

        <!-- Bordered Table -->
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th>DepartmentID</th>
                    <th>Department Name</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DepartmentID</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.Created</td>
                        <td>@item.Modified</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
