<div class="pagetitle">
    <h1>MeetingType</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">MeetingType</a></li>
            <li class="breadcrumb-item active">MeetingType List</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="d-flex justify-content-end mb-3">
    <a asp-controller="MeetingType" asp-action="MeetingTypeAddEdit" class="btn btn-primary">
        Add / Edit Meeting
    </a>
</div>

<div class="card">
    <div class="card-body">

        <div class="text-center">
            <h5 class="card-title display-6">Meeting Type Table</h5>
            <p>All records of <code>Meeting Type</code></p>
        </div>

        <div class="d-flex justify-content-center mb-3">
            <input class="form-control w-25" id="myInput" type="text" placeholder="Search here">
        </div>

        <!-- Bordered Table -->
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Serial No.</th>
                    <th scope="col">Meeting ID</th>
                    <th scope="col">Meeting Name</th>
                    <th scope="col">Meeting Venue</th>
                </tr>
            </thead>

            <tbody id="myTable">
                <tr>
                    <th scope="row">1</th>
                    <td>401</td>
                    <td>Weekly Sync</td>
                    <td>Audi - 10</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>402</td>
                    <td>Formal Meeting</td>
                    <td>Audi - 3</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>403</td>
                    <td>Planning Meeting</td>
                    <td>Audi - 6</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>404</td>
                    <td>Weekly Sync</td>
                    <td>Audi - 5</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>405</td>
                    <td>Informal Meeting</td>
                    <td>Audi - 1</td>
                </tr>
            </tbody>
        </table>
        <!-- End Bordered Table -->

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
