<div class="pagetitle">
    <h1>Meeting Member</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Meeting Member</a></li>
            <li class="breadcrumb-item">Meeting Member List</li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-end">

<a asp-controller="MeetingMember" asp-action="MeetingMemberAddEdit">
    <button type="button" class="btn btn-primary mb-5">MeetingMemberAddEdit</button>

</a> 
</div>


<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h5 class="card-title">Meeting Member Table</h5>
        </div>

        <div class="d-flex justify-content-center">
            <p>All The Record of The <code>Meeting Member </code></p>
        </div>
        <!-- Bordered Table -->

        <div class="container col-sm-3 d-flex justify-content-end ">
            <input class="form-control" id="myInput" type="text" placeholder="Search here">
        </div>
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col">Serial No.</th>
                    <th scope="col">Member ID</</th>
                    <th scope="col">Member Name</</th>
                    <th scope="col">Meeting Member </</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.</td>
                        <td>@item.</td>
                        <td>@item.</td>
                        <td>@item.</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Bordered Table -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
