<div class="pagetitle">
    <h1>Meeting Venue</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Meeting Venue</a></li>
            <li class="breadcrumb-item">Meeting Venue List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="d-flex justify-content-end">

    <a asp-controller="MeetingVenue" asp-action="MeetingVenueAddEdit">
        <button type="button" class="btn btn-primary mb-5">MeetingVenueAddEdit</button>

    </a>
</div>

<div class="card">
    <div class="card-body">

        <div class="d-flex justify-content-center">
            <h5 class="card-title">Meeting Venue Table</h5>
        </div>


        <div class="d-flex justify-content-center">
            <p>All The Record of The <code>Meeting Venue </code></p>
        </div>
        <!-- Bordered Table -->

        <div class="container col-sm-3 d-flex justify-content-end ">
            <input class="form-control" id="myInput" type="text" placeholder="Search here">
        </div>

        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col">Serial No.</th>
                    <th scope="col">Meeting Venue ID</</th>
                    <th scope="col">Meeting Venue Name</</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <th scope="row">1</th>
                    <td>301</td>
                    <td>Audi - 10</</td>
                    <td>10 o'clock</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>302</td>
                    <td>Audi - 4</</td>
                    <td>8 o'clock</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>303</td>
                    <td>Audi - 1</td>
                    <td>11 o'clock</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>304</td>
                    <td>Audi - 3</td>
                    <td>11:30 o'clock</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>305</td>
                    <td>Audi - 10 </</td>
                    <td>9 o'clock</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        <!-- End Bordered Table -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
